<%= form_tag charges_path do %>
<br>
<br>
<div class="jumbotron">

   <label class="amount">
     <h2>Upgrade to Premium Blocipedia Secret Society for $5.</h2>
     <p> All Secret Society Members can create private wikis with paid membership.</p>
   </label>
  
  </article>
   <h4>To be inducted to the Blocipedia Secret Society, click Pay button.</h4>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>
<br>
<br>
    <div><small>Current Membership Level: <strong><%= current_user.role.capitalize %></strong></small></div>
       <% if current_user.role == 'standard' %>
    
        <% if flash[:error].present? %>
        <div> id="error_description"
        <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <article>
   
   <% elsif current_user.role == 'premium' %>
   <br/>
   <%= link_to "Downgrade Account", downgrade_path, method: :put, class: 'btn btn-danger', data: {confirm: 'If you cancel your premium Blocipedia Secret Society membership all of your private wikis, become public.  Press OK  if you want to continue?'} %>
<% end %>

</div>